<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="app-container">
    <!-- Header -->
    <p-menubar styleClass="custom-menubar">
        <ng-template pTemplate="start">
            <h3 class="app-title">FinTrack</h3>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="theme-toggle" pRipple (click)="toggleTheme()" [pTooltip]="isDarkTheme ? 'Aydınlık Tema' : 'Karanlık Tema'" tooltipPosition="left">
              <i class="pi" [ngClass]="(isDarkTheme) ? 'pi-sun' : 'pi-moon'"></i>
            </div>
        </ng-template>
    </p-menubar>

    <!-- Main Content Area -->
    <div class="content-container">
        <router-outlet></router-outlet>
    </div>

    <!-- Bottom Navigation -->
    <div class="bottom-navigation" [@fadeInOut]>
        <p-tabMenu [model]="menuItems" [activeItem]="activeMenuItem" [scrollable]="false"></p-tabMenu>
    </div>
</div>
